# Ultralytics requirements
# Usage: pip install -r requirements.txt
# Python verision>=3.6

matplotlib>=3.2.2
Pillow>=7.1.2
numpy>=1.18.5
ultralytics>=8.2.17
ipython>=8.17.2
torch>=1.8.0
opencv_contrib_python>=4.6.0
opencv_python>=4.6.0
PyCameraList==1.0.0
pygame>=2.4.0
psutil>=5.8.0
setuptools>=60.0.0
